.overlay {
    pointer-events: none;
}
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-modal-content {
    border-radius: 5px 5px 5px 5px;
    width: 350px;
    background-color: #fff;

}

.modal-content{
    width: 500px;
    background-color: #fff;

}

.modal-header, .modal-footer{
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
