.notifContainer {
	overflow: hidden;
	max-width: 33%;
	height: auto;
	z-index: 99;
	align-content: center;
	padding: 0;
	position: relative;
	top: 12px;
	width: auto;
	margin: auto;
	/* transition: max-height 0.3s ease-out; */
}

.container:not(:last-child) {
	margin-bottom: 8px;
}

.container.shrink {
	max-height: 0;
}

.notification {
	display: block;
	width: 100%;
	margin: auto;
	overflow: hidden;
	/* word-break: break-word; */
	padding: 12px 48px 12px 12px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	/* transition: transform 0.3s ease-out; */
}

.notification:not(:last-child) {
	margin-bottom: 8px;
}

.notification .info {
	background: #50affd;
}
  
.notification .success {
	background: #55d159;
}
  
.notification .warning {
	background: #f7bd67;
}
  
.notification .error {
	background: #fd675c;
}

.notification.closeButton {
	position: absolute;
	top: 12px;
	right: 12px;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	color: black;
}